flask 
pathlib 
gunicorn 
gevent 
scipy 
sklearn 
pandas 
fastprogress 
python-box 
tensorboardX
transformers==4.37.0
pytorch_lightning
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability